<section id="contact-form">
    <div class="img-form-common">
        <div class="form-container">
            <h1>Send  Us A Message</h1>
            <p>Have some suggestions or just want to say hi? Contact us:</p>
            <form>
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email *">
                <input type="text" placeholder="Website">
                <textarea placeholder="Message..."></textarea>
                <button type="submit">Send  As A Message</button>
            </form>
        </div>

        <div class="end-img">
            <img src="./assets/images/contacts_02.png" alt="">
        </div>
    </div>
</section>