<section id="Say">
    <div class="Testimonials-container">
        <div class="testimonial-content">
            <span>What The Say</span>
            <p>Student Testimonials</p>
        </div>

        <div class="testimoniall slider">

            <div class="testimonial-card">
                <div class="testimonial-single">
                    <div class="side">
                        <img src="./assets/images/testimonials.jpg" class="imgg">
                        <div class="title">
                            <h1>Nina Farel</h1>
                            <span>@@shamsadfg</span>
                        </div>
                    </div>
                    <p>“Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers.”</p>
                </div>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-single">
                    <div class="side">
                        <img src="./assets/images/testimonials.jpg" class="imgg">
                        <div class="title">
                            <h1>Nina Farel</h1>
                            <span>@@shamsadfg</span>
                        </div>
                    </div>
                    <p>“Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers.”</p>
                </div>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-single">
                    <div class="side">
                        <img src="./assets/images/testimonials.jpg" class="imgg">
                        <div class="title">
                            <h1>Nina Farel</h1>
                            <span>@@shamsadfg</span>
                        </div>
                    </div>
                    <p>“Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers.”</p>
                </div>
            </div>

        </div>
    </div>
</section>