
@model AboutUsVM

<section id="About">
    <div class="about-part">
        <div class="image">
            <img class="main-img" src="~/uploads/aboutus/@Model.Image" alt="">
         
        </div>
        <div class="about-text">
            <h5>ABOUT US</h5>
            <span>
                @Model.Title
                <br>
            </span>
            <p>
               @Model.Description
            </p>
            <span class="number">
                Call Us <span class="phone">@Model.Phone </span>or
            </span>
            <a href="courses.html">Submit</a>
        </div>
    </div>
</section>