
<section id="many-card">

    <div class="container">

        <div class="header">
            <div class="title">
                <span>BROWSE TOP</span>
                <h2>Trending Categories</h2>
            </div>
            <a href="courses.html" class="view-all">View All</a>
        </div>


        <div class="carousel-wrapper">

            <button class="prev-btn">❮</button>

            <div class="carousel">
                <div class="cards">

                    <div class="card orange">
                        <i class="flaticon-design"></i>
                        <h4>Design</h4>
                        <span>3 Courses</span>
                    </div>

                    <div class="card green">
                        <i class="flaticon-world"></i>
                        <h4>Languages</h4>
                        <span>2 Courses</span>
                    </div>
                    <div class="card green">
                        <i class="flaticon-world"></i>
                        <h4>Languages</h4>
                        <span>2 Courses</span>
                    </div>
                    <div class="card green">
                        <i class="flaticon-world"></i>
                        <h4>Languages</h4>
                        <span>2 Courses</span>
                    </div>

                    <div class="card light-green">
                        <i class="flaticon-scientific"></i>
                        <h4>Technology</h4>
                        <span>1 Course</span>
                    </div>

                    <div class="card yellow">
                        <i class="flaticon-book"></i>
                        <h4>Psychology</h4>
                        <span>2 Courses</span>
                    </div>

                </div>
            </div>

            <button class="next-btn">❯</button>

        </div>


    </div>
</section>