@using Academy.ViewModels.Language
@model LanguageCreateVM

<form method="post">
    <input asp-for="Name" class="form-control" placeholder="Language name" />
    <button type="submit" class="btn btn-success mt-2">Create</button>
</form>