@section css {
    <link rel="stylesheet" href="~/assets/css/blog.css">
}


<main>
    <section id="blog-main">
        <div class="blog-first">
            <div class="top-line"></div>

            <div class="blog-content">
                <h1>Blog Grid</h1>
                <span> <a href="home.html">Home</a> > Blog Grid</span>
            </div>


            <div class="blog-img">
                <img src="./assets/images/page-title_default.jpg" alt="">
            </div>

        </div>
    </section>

    <section id="last-card">

        <div class="blog-card">

            <div class="cards-container">


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="./assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="blog.html" class="link2">View More</a>
                    </div>
                </div>

            </div>


            <div class="btn-wrapper">
                <a href="blog.html">Load More</a>
            </div>

        </div>
    </section>

</main>

@section Scripts {
    <script src="~/assets/js/blog.js"></script>
}