@model IEnumerable<Academy.ViewModels.ContactSection.ContactSectionVM>

@{
    var contactSection = Model.FirstOrDefault();
}

<section id="our-contact">
    <div class="common-container">

       
        <div class="common-first">
            <span>OUR CONTACTS</span>

            <h1>@contactSection?.Title</h1>
            <p>@contactSection?.SubTitle</p>

        </div>

      
        <div class="common-cardly">

            @foreach (var sec in Model)
            {
                @foreach (var item in sec.Items)
                {
                    <div class="card-number">
                        <i class="fa-regular fa-map"></i>

                        <h3>@item.Description</h3>
                        <p>@item.Address</p>

                    </div>
                }
            }

        </div>

    </div>
</section>