@model ArticleDetailVM

<div class="container mt-5">
    <div class="col-md-6 mx-auto">

        <h2>Ətraflı</h2>

        <div class="card shadow-sm">

            <img src="~/uploads/article/@Model.Image" class="card-img-top" />

            <div class="card-body">

                <strong>Description:</strong>
                <p>@Model.Description</p>

                <strong>Text:</strong>
                <p>@Model.Text</p>

                <strong>Topic:</strong>
                <span class="badge bg-info">@Model.TopicName</span>

                <a asp-action="Index" class="btn btn-secondary mt-3">
                    Geri qayıt
                </a>

            </div>

        </div>

    </div>
</div>