<section id="become">
    <div class="become-container">
        <div class="left-side">
            <h1>Become an Instructor Today</h1>
            <p>
                Join the world’s largest online learning marketplace now

            </p>
        </div>
        <div class="rigth">
            <a href="teachers.html">Become an Instructor</a>
        </div>
    </div>
</section>