@using Academy.ViewModels.ImpactSection
@model IEnumerable<ImpactSectionVM>

<section id="global">
    <div class="global-container">

        @foreach (var sec in Model)
        {
            <div class="global-first">
                <span>@sec.Title</span>
                <h2>@sec.SubTitle</h2>
            </div>

            <div class="global-card-common">

                @foreach (var item in sec.Items)
                {
                    <div class="global-card">
                        <div class="global-img">
                            <img src="~/uploads/impactitem/@item.Image" alt="">
                        </div>

                        <div class="global-content">
                            <span>@item.Title</span>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }

            </div>
        }

    </div>
</section>