

<section id="main-start">
    <div class="slider">
        <div class="top-line"></div>
        <div class="slide-active" style="background-image:url('./assets/images/home_slider_bg.jpg')">
            <p>Best Online Courses</p>
            <h2>Best Education From<br>Your Home</h2>
            <a href="courses.html">View Courses</a>
        </div>

        <div class="slide" style="background-image:url('./assets/images/home sekil.jpg')">
            <p>Top Online Courses for Exam Success</p>
            <h2>Best Online Learning<br>Platform</h2>
            <a href="courses.html">View Courses</a>
        </div>

    </div>
</section>