@model IEnumerable<SliderVM>

@if (Model != null && Model.Any())
{
    <section id="main-start" class="main-intro">
        <div class="slider">
            <div class="top-line"></div>

            @foreach (var slide in Model)
            {
                <div class="slide" style="background: url('@Url.Content("~/uploads/sliders/" + slide.Image)') center center/cover no-repeat;">
                    <div class="slide-text">
                        <h2>@slide.Title</h2>
                        <p>@slide.Description</p>
                        <a href="courses.html">View Courses</a>
                       
                    </div>
                </div>
            }
        </div>
    </section>
}