@using Academy.ViewModels.Blog
@model IEnumerable<BlogVM>

<section id="last-card">

    <div class="blog-card">

        <div class="cards-container">


            @foreach(var item in Model)
            {
                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="@Url.Content("~/uploads/blog/" + item.Image)" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                           @item.Title
                            <a href="" class="link1">@item.Name</a>
                        </span>
                        <h3> @item.Description<br> </h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>
            }

          


          

        </div>


        <div class="btn-wrapper">
            <a href="blog.html">Load More</a>
        </div>

    </div>
</section>