
@model ImpactSectionCreateVM

<div class="container mt-5">

    <h2 class="mb-4">Impact Section əlavə et</h2>

    <form method="post">

    
        <div class="mb-3">
            <label>Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title daxil et" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label>SubTitle</label>
            <input asp-for="SubTitle" class="form-control" placeholder="SubTitle daxil et" />
            <span asp-validation-for="SubTitle" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Create</button>

            <a asp-action="Index" class="btn btn-secondary ms-2">
                Geri qayıt
            </a>
        </div>

    </form>

</div>