<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inzara Academy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />



    <link rel="stylesheet" href="./assets/css/home.css">


    @RenderSection("css", required: false)
</head>

<body>
@await Component.InvokeAsync("Header")

            @RenderBody()

    @await Component.InvokeAsync("Footer")

    <div class="modal" id="loginModal">
        <div class="modal-box login-box">
            <span class="closeBtn">✕</span>

            <h2>Inzara <span>Academy</span></h2>
            <h3>Xoş gəldin👋</h3>
            <span>
                Hesabına daxil ol və öyrənməyə davam et
            </span>
            <div class="tabs">
                <button class="active">Daxil Ol</button>
                <button onclick="openRegister()">Qeydiyyat</button>
            </div>

            <form class="login-form">
                <label>E-poçt</label>
                <input type="email" placeholder="ornek@email.com">

                <label>Şifrə</label>
                <input type="password" placeholder="********">

                <div class="login-extra">
                    <label><input type="checkbox"> Məni xatırla</label>
                    <a href="#">Şifrəni unutdun?</a>
                </div>

                <button type="submit" class="main-btn">Daxil ol</button>
            </form>
        </div>
    </div>



    <div class="modal" id="registerModal">
        <div class="modal-box register-box">
            <span class="closeBtn">✕</span>

            <h2>Inzara <span>Academy</span></h2>
            <h3>Hesab yarat ✨</h3>
            <p>Pulsuz qeydiyyatdan keç, 340+ kursdan yararlan</p>

            <div class="tabs">
                <button onclick="openLogin()">Daxil Ol</button>
                <button class="active">Qeydiyyat</button>
            </div>

            <form class="register-form">
                <label>Ad</label>
                <input type="text" placeholder="Adınız">

                <label>Soyad</label>
                <input type="text" placeholder="Soyadınız">

                <label>E-poçt</label>
                <input type="email" placeholder="ornek@email.com">

                <label>Şifrə</label>
                <input type="password" placeholder="********">

                <button type="submit" class="main-btn">Qeydiyyatdan keç</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/assets/js/home.js">

    </script>


    @RenderSection("Scripts", required: false)
</body>

</html>