@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section id="main-start">
        <div class="slider">
            <div class="top-line"></div>
            <div class="slide-active" style="background-image:url('./assets/images/home_slider_bg.jpg')">
                <p>Best Online Courses</p>
                <h2>Best Education From<br>Your Home</h2>
                <a href="courses.html">View Courses</a>
            </div>

            <div class="slide" style="background-image:url('./assets/images/home sekil.jpg')">
                <p>Top Online Courses for Exam Success</p>
                <h2>Best Online Learning<br>Platform</h2>
                <a href="courses.html">View Courses</a>
            </div>

        </div>
    </section>




    <section id="feedback-part">
        <div class="left-side">
            <div class="first">
                <img src="~/assets/images/icon_bg.png" alt="">
                <i class="fa-solid fa-rocket infobox_icon"></i>
                <h3>Learn Anything </h3>
                <span>Join millions of people from around <br> the world learning together. Try it now!</span><br>
                <a href="">View More +</a>
            </div>
            <div class="second">
                <img src="~/assets/images/icon_bg.png" alt="">
                <i class="fa-solid fa-users infobox_icon"></i>
                <h3>Learn Together </h3>
                <span>Join millions of people from around <br>world learning together. Try it now!</span><br>
                <a href="">View More +</a>
            </div>
        </div>

        <div class="home-form">
            <div class="top">
                <h1>Feedback Form</h1>
            </div>
            <div class="seconds">
                <form>
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="your@gmail.com">
                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>

    </section>
    <section id="About">
        <div class="about-part">
            <div class="image">
                <img class="main-img" src="~/assets/images/home_01-1.png" alt="">
                <img class="circle-green" src="~/assets/images/home_01-3.png" alt="">
                <img class="circle-orange" src="~/assets/images/home_01-4 (1).png" alt="">
            </div>
            <div class="about-text">
                <h5>ABOUT US</h5>
                <span>
                    Learn New Skills,
                    <br>Advance Your Career
                </span>
                <p>
                    Iguru has a first rate academic program, a fully qualified. With over 50 years of experience teaching
                    English around the world, we know that no two learners are the same. That’s why we tailor our course to
                    your learning level, motivations and lifestyle. Set your level!
                </p>
                <span class="number">
                    Call Us <span class="phone">+1 888 561 795 1 </span>or
                </span>
                <a href="courses.html">Submit</a>
            </div>
        </div>
    </section>
    <section id="cards">
        <div class="cards-common">
            <div class="card-top">
                <span>DISCOVER NEW</span>
                <h1>
                    Our Top Online Courses
                </h1>
                <p>
                    We’ll then ask you to tell us your current level of English or invite you to take our quick 20 minute
                    <br> placement test so we can make sure you start learning English at the level that’s right for you.
                </p>
            </div>
            <ul class="filter-menu">
                <li class="all">ALL</li>
                <li>Math</li>
                <li>Physics</li>
                <li>Chemistry</li>
                <li>Biology</li>
                <li>Geography</li>
                <li>Literature</li>
                <li>History</li>
                <li>English</li>
            </ul>
        </div>
        <div class="cards-commons">
            <div class="card" style="background-image: url('./assets/images/blog-02-600x486.jpg')">
                <span class="category">Math</span>

                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/tina-brown-380x422.jpg" alt="">
                        <span>Chriss Moore</span>
                    </div>

                    <h3>Visual Elements of User Interface Design</h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>2</span>
                        </div>
                        <span class="price">$200</span>
                    </div>
                </div>
            </div>




            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">

                <span class="category">Physics</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/2ci user.jpeg" alt="">
                        <span>Jons Wendom</span>
                    </div>

                    <h3>
                        Photography Techniques: Light, Content & Sharing
                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>0</span>
                        </div>
                        <span class="price">$300</span>
                    </div>
                </div>
            </div>


            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">

                <span class="category">Literature</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/3cu card adam.jpeg" alt="">
                        <span>Taylor</span>
                    </div>

                    <h3>
                        Teach English Now! Foundational Principles

                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>0</span>
                        </div>
                        <span class="price">$100</span>
                    </div>
                </div>
            </div>



            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">



                <span class="category">History</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/4cu user.jpeg" alt="">
                        <span>

                            Nicole Brown
                        </span>
                    </div>

                    <h3>
                        Responsive Website Development & Design



                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>0</span>
                        </div>
                        <span class="price">$100</span>
                    </div>
                </div>
            </div>


            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">



                <span class="category">English</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/5ci user.jpeg" alt="">
                        <span>

                        </span>
                    </div>

                    <h3>

                        Positive Psychology: Character & Research


                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>
                                0
                            </span>
                        </div>
                        <span class="price">$100</span>
                    </div>
                </div>
            </div>


            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">


                <span class="category">English</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/5ci user.jpeg" alt="">
                        <span>

                        </span>
                    </div>

                    <h3>

                        Developing Android Apps with App Inventor



                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>
                                3
                            </span>
                        </div>
                        <span class="price">$500</span>
                    </div>
                </div>
            </div>





            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">


                <span class="category">Russian</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/4cu user.jpeg" alt="">
                        <span>

                        </span>
                    </div>

                    <h3>

                        Google IT Support Professional Certificate




                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>
                                3
                            </span>
                        </div>
                        <span class="price">$500</span>
                    </div>
                </div>
            </div>



            <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">


                <span class="category">Russian</span>


                <div class="card-content">
                    <div class="author">
                        <img src="~/assets/images/4cu user.jpeg" alt="">
                        <span>

                        </span>
                    </div>

                    <h3>

                        Managerial Economics & Business Analysis






                    </h3>

                    <div class="card-footer">
                        <div class="rating">
                            <i class="fa-regular fa-star"></i>
                            <span>
                                2
                            </span>
                        </div>
                        <span class="price">$400</span>
                    </div>
                </div>
            </div>




            <a href="#" class="view-btn">View Courses</a>


        </div>


    </section>


    <section id="logos">
        <div class="logo-img">
            <div class="logos-container" id="logosContainer">
                <img src="~/assets/images/logo1.png" alt="">
                <img src="~/assets/images/logo2.png" alt="">
                <img src="~/assets/images/logo3.png" alt="">
                <img src="~/assets/images/logo4.png" alt="">
                <img src="~/assets/images/logo5.png" alt="">
                <img src="~/assets/images/logo6.png" alt="">
            </div>
        </div>
    </section>






    <section id="many-card">

        <div class="container">

            <div class="header">
                <div class="title">
                    <span>BROWSE TOP</span>
                    <h2>Trending Categories</h2>
                </div>
                <a href="courses.html" class="view-all">View All</a>
            </div>


            <div class="carousel-wrapper">

                <button class="prev-btn">❮</button>

                <div class="carousel">
                    <div class="cards">

                        <div class="card orange">
                            <i class="flaticon-design"></i>
                            <h4>Design</h4>
                            <span>3 Courses</span>
                        </div>

                        <div class="card green">
                            <i class="flaticon-world"></i>
                            <h4>Languages</h4>
                            <span>2 Courses</span>
                        </div>
                        <div class="card green">
                            <i class="flaticon-world"></i>
                            <h4>Languages</h4>
                            <span>2 Courses</span>
                        </div>
                        <div class="card green">
                            <i class="flaticon-world"></i>
                            <h4>Languages</h4>
                            <span>2 Courses</span>
                        </div>

                        <div class="card light-green">
                            <i class="flaticon-scientific"></i>
                            <h4>Technology</h4>
                            <span>1 Course</span>
                        </div>

                        <div class="card yellow">
                            <i class="flaticon-book"></i>
                            <h4>Psychology</h4>
                            <span>2 Courses</span>
                        </div>

                    </div>
                </div>

                <button class="next-btn">❯</button>

            </div>


        </div>
    </section>

    <!-- <section id="team-common">
      <div class="team-container">

        <div class="title">
          <span>BEST OF THE BEST</span>
          <h1>Top Online Instructors</h1>
          <p>
            We’ll then ask you to tell us your current level of English or invite you
            to take our quick 20 minute placement test.
          </p>
        </div>

        <div class="slider-wrapper">
          <div class="team-important">


            <div class="team-page">
              <div class="team-card">
                <img src="~/assets/images/oliver.jpg">
                <div class="card-text">
                  <h3>Oliver Grider</h3>
                  <span>Bootcamp Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/david.jpg">
                <div class="card-text">
                  <h3>David Warner</h3>
                  <span>UI Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/lauren-davis-380x422.jpg">
                <div class="card-text">
                  <h3>Lauren Davis</h3>
                  <span>Frontend Mentor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/nicole-brown-380x422.jpg">
                <div class="card-text">
                  <h3>Nicole Brown</h3>
                  <span>Backend Mentor</span>
                </div>
              </div>
            </div>

            <div class="team-page">
              <div class="team-card">
                <img src="~/assets/images/oliver.jpg">
                <div class="card-text">
                  <h3>Oliver Grider</h3>
                  <span>Bootcamp Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/david.jpg">
                <div class="card-text">
                  <h3>David Warner</h3>
                  <span>UI Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/lauren-davis-380x422.jpg">
                <div class="card-text">
                  <h3>Lauren Davis</h3>
                  <span>Frontend Mentor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/nicole-brown-380x422.jpg">
                <div class="card-text">
                  <h3>Nicole Brown</h3>
                  <span>Backend Mentor</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="dot-common">
          <span class="dot dot-active"></span>
          <span class="dot"></span>
        </div>

      </div>
    </section> -->

    <section id="Numbers">
        <div class="common-numbers">
            <div class="img-quality" style="background-image: url(./assets/images/counter_bg.jpg);">


                <div class="number-situatedd">
                    <div class="quality-container">
                        <h3>589</h3>
                        <span>Creative Events</span>
                    </div>
                    <div class="quality-container">
                        <h3>589</h3>
                        <span>Creative Events</span>
                    </div>
                    <div class="quality-container">
                        <h3>589</h3>
                        <span>Creative Events</span>
                    </div>
                    <div class="quality-container">
                        <h3>589</h3>
                        <span>Creative Events</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="last-card">
        <div class="blog-card">
            <div class="button-for">
                <div class="blog-title">
                    <p>
                        DISCOVER NEWS
                    </p>
                    <h1>Read Our Blog</h1>
                    <span>Explore learning tips, career advice. Unlock new opportunities with unlimited access.</span>
                </div>
                <a href="blog.html">View All</a>
            </div>
            <div class="cards-container">
                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="~/assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>



                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="~/assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>


                <div class="blog-card-single">
                    <div class="blog-img">
                        <img src="~/assets/images/blog-02-600x486.jpg" alt="">
                    </div>
                    <div class="blog-text">
                        <span>
                            Learning/
                            <a href="" class="link1">BY James Taylor</a>
                        </span>
                        <h3>Top Best 10 Tips for Learning <br> at Work</h3>
                        <a href="" class="link2">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>