@{
    ViewData["Title"] = "Home Page";
}
<main>
    @await Component.InvokeAsync("Slider")




    @await Component.InvokeAsync("Feedback")
    @await Component.InvokeAsync("Advance")
    @await Component.InvokeAsync("TopCourse")


    @await Component.InvokeAsync("Logo")





    @await Component.InvokeAsync("TrendingCategories")

    <!-- <section id="team-common">
      <div class="team-container">

        <div class="title">
          <span>BEST OF THE BEST</span>
          <h1>Top Online Instructors</h1>
          <p>
            We’ll then ask you to tell us your current level of English or invite you
            to take our quick 20 minute placement test.
          </p>
        </div>

        <div class="slider-wrapper">
          <div class="team-important">


            <div class="team-page">
              <div class="team-card">
                <img src="~/assets/images/oliver.jpg">
                <div class="card-text">
                  <h3>Oliver Grider</h3>
                  <span>Bootcamp Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/david.jpg">
                <div class="card-text">
                  <h3>David Warner</h3>
                  <span>UI Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/lauren-davis-380x422.jpg">
                <div class="card-text">
                  <h3>Lauren Davis</h3>
                  <span>Frontend Mentor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/nicole-brown-380x422.jpg">
                <div class="card-text">
                  <h3>Nicole Brown</h3>
                  <span>Backend Mentor</span>
                </div>
              </div>
            </div>

            <div class="team-page">
              <div class="team-card">
                <img src="~/assets/images/oliver.jpg">
                <div class="card-text">
                  <h3>Oliver Grider</h3>
                  <span>Bootcamp Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/david.jpg">
                <div class="card-text">
                  <h3>David Warner</h3>
                  <span>UI Instructor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/lauren-davis-380x422.jpg">
                <div class="card-text">
                  <h3>Lauren Davis</h3>
                  <span>Frontend Mentor</span>
                </div>
              </div>

              <div class="team-card">
                <img src="~/assets/images/nicole-brown-380x422.jpg">
                <div class="card-text">
                  <h3>Nicole Brown</h3>
                  <span>Backend Mentor</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="dot-common">
          <span class="dot dot-active"></span>
          <span class="dot"></span>
        </div>

      </div>
    </section> -->
    @await Component.InvokeAsync("Numbers")

    @await Component.InvokeAsync("BestBlog")
</main>