<section id="feedback-part">
    <div class="left-side">
        <div class="first">
            <img src="~/assets/images/icon_bg.png" alt="">
            <i class="fa-solid fa-rocket infobox_icon"></i>
            <h3>Learn Anything </h3>
            <span>Join millions of people from around <br> the world learning together. Try it now!</span><br>
            <a href="">View More +</a>
        </div>
        <div class="second">
            <img src="~/assets/images/icon_bg.png" alt="">
            <i class="fa-solid fa-users infobox_icon"></i>
            <h3>Learn Together </h3>
            <span>Join millions of people from around <br>world learning together. Try it now!</span><br>
            <a href="">View More +</a>
        </div>
    </div>

    <div class="home-form">
        <div class="top">
            <h1>Feedback Form</h1>
        </div>
        <div class="seconds">
            <form>
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="your@gmail.com">
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

</section>