<section id="Testimonial">
    <div class="testimonial-common">
        <img src="~/assets/images/about-us_03.jpg" alt="Background Image">

        <div class="testimonial-text">
            <span>TESTIMONIALS</span>
            <h1>What People Say</h1>
            <p>We’ll then ask you to tell us your current level of English or invite you to take our quick 20 minute placement test so we can make sure you start learning English.</p>
        </div>


        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <div class="card-number">
                                <img src="~/assets/images/testimonials.jpg" alt="Nina Farel">
                            </div>
                            <div class="contentt">
                                <h4>Nina Farel</h4>
                                <span>@@smashingmagazine</span>
                            </div>
                        </div>
                        <div class="text-card">
                            <p>"Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers."</p>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <div class="card-number">
                                <img src="~/assets/images/testimonials.jpg" alt="Jina Grindevald">
                            </div>
                            <div class="contentt">
                                <h4>Jina Grindevald</h4>
                                <span>@@habrahabr</span>
                            </div>
                        </div>
                        <div class="text-card">
                            <p>"Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers."</p>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <div class="card-number">
                                <img src="~/assets/images/testimonials.jpg" alt="Instructor 3">
                            </div>
                            <div class="contentt">
                                <h4>John Doe</h4>
                                <span>@@john_doe</span>
                            </div>
                        </div>
                        <div class="text-card">
                            <p>"Online learning is a great way to grow your skills, especially with native speakers!"</p>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <div class="card-number">
                                <img src="~/assets/images/testimonials.jpg" alt="Instructor 4">
                            </div>
                            <div class="contentt">
                                <h4>Jane Smith</h4>
                                <span>@@janesmith</span>
                            </div>
                        </div>
                        <div class="text-card">
                            <p>"Online studies are fast and efficient. I love the flexibility and convenience!"</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>