<section id="Testimonial">
    <div class="testimonial-common">

        <div class="testimonial-text">
            <span>TESTIMONIALS</span>
            <h1>What People Say</h1>
            <p>
                We’ll then ask you to tell us your current level of English or invite you to take our quick
                20 minute placement test so we can make sure you start learning English.
            </p>
        </div>

        <!-- SWIPER -->
        <div class="swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <img src="~/assets/images/testimonials.jpg" alt="">
                            <div>
                                <h4>Nina Farel</h4>
                                <span>@@smashingmagazine</span>
                            </div>
                        </div>
                        <p>
                            "Choosing online studies was the best way to do it – the internet is fast,
                            cheap & popular and it’s easy to communicate in social media with native speakers."
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <img src="~/assets/images/testimonials.jpg" alt="">
                            <div>
                                <h4>Jina Grindevald</h4>
                                <span>@@habrahabr</span>
                            </div>
                        </div>
                        <p>
                            "Online learning is simple and effective. I improved my English very fast!"
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-general">
                        <div class="header">
                            <img src="~/assets/images/testimonials.jpg" alt="">
                            <div>
                                <h4>John Doe</h4>
                                <span>@@john_doe</span>
                            </div>
                        </div>
                        <p>
                            "Flexible and convenient learning system. Highly recommended!"
                        </p>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.swiper', {
            slidesPerView: 2,
            spaceBetween: 20,
            loop: true,

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            breakpoints: {
                0: { slidesPerView: 1 },
                768: { slidesPerView: 2 }
            }
        });
    });
</script>