@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/about.css">
}


<main>
    @await Component.InvokeAsync("About")
    @await Component.InvokeAsync("AboutAcademy")
    @await Component.InvokeAsync("AboutCard")


    @await Component.InvokeAsync("ProgressBar")

    @await Component.InvokeAsync("Testimonial")


    @await Component.InvokeAsync("Opportunities")

    @await Component.InvokeAsync("AboutLogo")

</main>

@section Scripts {
    <script src="~/assets/js/about.js"></script>
}