@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/teachers.css">
}

<main>
    <section id="teacher-section">
        <div class="teacher-container">
            <div class="top-line"></div>
            <div class="teacher-img">
                <img src="./assets/images/page-title_default.jpg" alt="">


                <div class="teacher-content">
                    <h1>Become A Teacher</h1>
                    <span> <a href="home.html">Home</a> > Beacome A Teacher</span>
                </div>
            </div>
        </div>
    </section>


    <section id="global">
        <div class="global-container">
            <div class="global-first">
                <span>Global Impact</span>
                <h2>Create an Online Vidoe <br> Course & Earn Money by Teaching</h2>
            </div>

            <div class="global-card-common">
                <div class="global-card">
                    <div class="global-img">
                        <img src="./assets/images/icon-box_01-214x208.png" alt="">
                    </div>

                    <div class="global-content">
                        <span>Plan Your Course</span>
                        <p>Whether you want to develop as a <br> professional or discover a new hobby,<br> there's an online course for that.</p>
                    </div>
                </div>


                <div class="global-card">
                    <div class="global-img">
                        <img src="./assets/images/icon-box_01-214x208.png" alt="">
                    </div>

                    <div class="global-content">
                        <span>Plan Your Course</span>
                        <p>Whether you want to develop as a <br> professional or discover a new hobby,<br> there's an online course for that.</p>
                    </div>
                </div>




                <div class="global-card">
                    <div class="global-img">
                        <img src="./assets/images/icon-box_01-214x208.png" alt="">
                    </div>

                    <div class="global-content">
                        <span>Plan Your Course</span>
                        <p>Whether you want to develop as a <br> professional or discover a new hobby,<br> there's an online course for that.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="benefit-section">
        <div class="benefit-conatiner">
            <div class="left-benefit">
                <span class="one">Our Benefits</span>
                <h1>Why iGuru?</h1>
                <div class="benefit-column">
                    <div class="first">
                        <i class="fa-solid fa-check"></i>
                        <span class="two">Earn Money</span>
                        <p>Whether you want to develop as a professional or <br> discover a new hobby, there’s an online course for that.</p>
                    </div>
                    <div class="second">
                        <i class="fa-solid fa-check"></i>
                        <span class="two">Earn Money</span>
                        <p>Whether you want to develop as a professional or <br> discover a new hobby, there’s an online course for that.</p>
                    </div>
                </div>
            </div>
            <div class="right-benefit">
                <img src="./assets/images/bacome-a-teacher_02.png" alt="">
            </div>
        </div>
    </section>


    <section id="instructor">
        <div class="common-instructors">
            <div class="top-side">
                <div class="instructor-content">
                    <span>Best Of The Best</span>
                    <h1>Top Online Instructors</h1>
                    <p>Explore learning tips, career advice. Unlock new opportunities with unlimited access.</p>
                </div>
                <a href="teachers.html">Join The Team</a>

            </div>

            <div class="teacher-card">
                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>


                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>



                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>


                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>



                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>


                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>



                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>

                <div class="teacher-single">
                    <div class="img">
                        <img src="./assets/images/david-leto-380x422.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="for-icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="for-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>

                        <div class="for-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>

                    </div>
                    <h4>Intizar Shadmanli</h4>
                    <span>Photographer</span>
                </div>





            </div>
        </div>
    </section>

    <section id="become">
        <div class="become-container">
            <div class="left-side">
                <h1>Become an Instructor Today</h1>
                <p>
                    Join the world’s largest online learning marketplace now

                </p>
            </div>
            <div class="rigth">
                <a href="teachers.html">Become an Instructor</a>
            </div>
        </div>
    </section>

    <section id="Say">
        <div class="Testimonials-container">
            <div class="testimonial-content">
                <span>What The Say</span>
                <p>Student Testimonials</p>
            </div>

            <div class="testimoniall slider">

                <div class="testimonial-card">
                    <div class="testimonial-single">
                        <div class="side">
                            <img src="./assets/images/testimonials.jpg" class="imgg">
                            <div class="title">
                                <h1>Nina Farel</h1>
                                <span>shamsadfg</span>
                            </div>
                        </div>
                        <p>“Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers.”</p>
                    </div>
                </div>

                <div class="testimonial-card">
                    <div class="testimonial-single">
                        <div class="side">
                            <img src="./assets/images/testimonials.jpg" class="imgg">
                            <div class="title">
                                <h1>Nina Farel</h1>
                                <span>shamsadfg</span>
                            </div>
                        </div>
                        <p>“Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers.”</p>
                    </div>
                </div>

                <div class="testimonial-card">
                    <div class="testimonial-single">
                        <div class="side">
                            <img src="./assets/images/testimonials.jpg" class="imgg">
                            <div class="title">
                                <h1>Nina Farel</h1>
                                <span>shamsadfg</span>
                            </div>
                        </div>
                        <p>“Choosing online studies was the best way to do it – the internet is fast, cheap & popular and it’s easy to communicate in social media with native speakers.”</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>


@section Scripts {
    <script src="~/assets/js/teacher.js"></script>
}
