@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/teachers.css">
}

<main>

    @await Component.InvokeAsync("Teacher")

    @await Component.InvokeAsync("AboutCard")


    @await Component.InvokeAsync("TeacherBenefit")

    @{
        int instrPage = int.TryParse(Context.Request.Query["instrPage"], out int ip) && ip > 0 ? ip : 1;
    }
    @await Component.InvokeAsync("Instructor", new { page = instrPage })


    @await Component.InvokeAsync("BecomeInstructor")

    @await Component.InvokeAsync("Testimonial")

</main>


@section Scripts {
    <script src="~/assets/js/teacher.js"></script>
}
