@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/teachers.css">
}

<main>

    @await Component.InvokeAsync("Teacher")

    @await Component.InvokeAsync("Global")


    @await Component.InvokeAsync("TeacherBenefit")

    @await Component.InvokeAsync("Instructor")


    @await Component.InvokeAsync("BecomeInstructor")

    @await Component.InvokeAsync("Say")

</main>


@section Scripts {
    <script src="~/assets/js/teacher.js"></script>
}
