<section id="about-start">
    <div class="about">
        <div class="top-line"></div>
        <div class="about-img" style="background-image: url(./assets/images/about-us_page-title.jpg);">
            <h1>About Us</h1>
            <span> <a href="home.html">Home</a> >  About Us</span>

        </div>
    </div>
</section>