@using Academy.ViewModels.Banner
@model IEnumerable<BannerVM>

@{
   
    var banner = Model.FirstOrDefault(b => b.Page == "About");
}

@if (banner != null)
{
        <section id="about-start">
            <div class="about">
                <div class="top-line"></div>
                <div class="about-img" style="background-image: url(@Url.Content("~/uploads/banner/" + banner.Image));">
                    <h1>@banner.Title</h1>
                    <span> <a asp-controller="Home" asp-action="Index">Home</a> > @banner.Page</span>
                </div>
            </div>
        </section>
}
