@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/contact.css">
}




<main>
    <section id="contact-main">
        <div class="contact-container">

            <div class="top-line"></div>
            <div class="containt-img">
                <img src="./assets/images/page-title_default.jpg" alt="">


                <div class="contact-content">
                    <h3>Contacts</h3>
                    <a href="home.html"> Home > Contacts</a>
                </div>


            </div>
    </section>



    <section id="our-contact">
        <div class="common-container">
            <div class="common-first">
                <span>OUR CONTACTS</span>
                <h1>We`re here to Help You</h1>
                <p>
                    Got a project in mind? We’d love to hear about it. Take five minutes to fill out our project <br>form so that we can get to know you and understand your project.

                </p>
            </div>

            <div class="common-cardly">


                <div class="card-number">
                    <i class="fa-regular fa-map"></i>
                    <h3>Visit Us Deaily</h3>
                    <p>27 Division St, New York, 10002</p>
                </div>


                <div class="card-number">
                    <i class="fa-regular fa-map"></i>
                    <h3>Visit Us Deaily</h3>
                    <p>27 Division St, New York, 10002</p>
                </div>



                <div class="card-number">
                    <i class="fa-regular fa-map"></i>
                    <h3>Visit Us Deaily</h3>
                    <p>27 Division St, New York, 10002</p>
                </div>
            </div>

        </div>
    </section>




    <section id="contact-form">
        <div class="img-form-common">
            <div class="form-container">
                <h1>Send  Us A Message</h1>
                <p>Have some suggestions or just want to say hi? Contact us:</p>
                <form>
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email *">
                    <input type="text" placeholder="Website">
                    <textarea placeholder="Message..."></textarea>
                    <button type="submit">Send  As A Message</button>
                </form>
            </div>

            <div class="end-img">
                <img src="./assets/images/contacts_02.png" alt="">
            </div>
        </div>
    </section>
</main>


@section Scripts {
    <script src="~/assets/js/contact.js"></script>
}