<section id="logos">
    <div class="logo-img">
        <div class="logos-container" id="logosContainer">
            <img src="~/assets/images/logo1.png" alt="">
            <img src="~/assets/images/logo2.png" alt="">
            <img src="~/assets/images/logo3.png" alt="">
            <img src="~/assets/images/logo4.png" alt="">
            <img src="~/assets/images/logo5.png" alt="">
            <img src="~/assets/images/logo6.png" alt="">
        </div>
    </div>
</section>