<section id="Mission">
    <div class="mission-parts">
        <div class="mission-left">
            <span>OUR MISSION</span>
            <h1>At What We Believe</h1>
            <p>Our culture is diverse, inclusive, and committed to personal and <br> professional development. We’re not afraid to take on a new  <br>challenge, and we love taking courses!</p>

            <div class="skills">


                <div class="skill">
                    <div class="skill-top">
                        <span>Experience</span>
                        <p>70%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="70"></div>
                    </div>

                </div>


                <div class="skill">
                    <div class="skill-top">
                        <span>Motivation</span>
                        <p>90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="90"></div>
                    </div>

                </div>


                <div class="skill">
                    <div class="skill-top">
                        <span>Quality</span>
                        <p>90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="90"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="image-mission">
            <img src="~/assets/images/about-us_02-3.png" alt="">
        </div>
    </div>
</section>