<section id="cards">
    <div class="cards-common">
        <div class="card-top">
            <span>DISCOVER NEW</span>
            <h1>
                Our Top Online Courses
            </h1>
            <p>
                We’ll then ask you to tell us your current level of English or invite you to take our quick 20 minute
                <br> placement test so we can make sure you start learning English at the level that’s right for you.
            </p>
        </div>
        <ul class="filter-menu">
            <li class="all">ALL</li>
            <li>Math</li>
            <li>Physics</li>
            <li>Chemistry</li>
            <li>Biology</li>
            <li>Geography</li>
            <li>Literature</li>
            <li>History</li>
            <li>English</li>
        </ul>
    </div>
    <div class="cards-commons">
        <div class="card" style="background-image: url('./assets/images/blog-02-600x486.jpg')">
            <span class="category">Math</span>

            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/tina-brown-380x422.jpg" alt="">
                    <span>Chriss Moore</span>
                </div>

                <h3>Visual Elements of User Interface Design</h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>2</span>
                    </div>
                    <span class="price">$200</span>
                </div>
            </div>
        </div>




        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">

            <span class="category">Physics</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/2ci user.jpeg" alt="">
                    <span>Jons Wendom</span>
                </div>

                <h3>
                    Photography Techniques: Light, Content & Sharing
                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>0</span>
                    </div>
                    <span class="price">$300</span>
                </div>
            </div>
        </div>


        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">

            <span class="category">Literature</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/3cu card adam.jpeg" alt="">
                    <span>Taylor</span>
                </div>

                <h3>
                    Teach English Now! Foundational Principles

                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>0</span>
                    </div>
                    <span class="price">$100</span>
                </div>
            </div>
        </div>



        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">



            <span class="category">History</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/4cu user.jpeg" alt="">
                    <span>

                        Nicole Brown
                    </span>
                </div>

                <h3>
                    Responsive Website Development & Design



                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>0</span>
                    </div>
                    <span class="price">$100</span>
                </div>
            </div>
        </div>


        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">



            <span class="category">English</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/5ci user.jpeg" alt="">
                    <span>

                    </span>
                </div>

                <h3>

                    Positive Psychology: Character & Research


                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>
                            0
                        </span>
                    </div>
                    <span class="price">$100</span>
                </div>
            </div>
        </div>


        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">


            <span class="category">English</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/5ci user.jpeg" alt="">
                    <span>

                    </span>
                </div>

                <h3>

                    Developing Android Apps with App Inventor



                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>
                            3
                        </span>
                    </div>
                    <span class="price">$500</span>
                </div>
            </div>
        </div>





        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">


            <span class="category">Russian</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/4cu user.jpeg" alt="">
                    <span>

                    </span>
                </div>

                <h3>

                    Google IT Support Professional Certificate




                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>
                            3
                        </span>
                    </div>
                    <span class="price">$500</span>
                </div>
            </div>
        </div>



        <div class="card" style="background-image: url(./assets/images/blog-02-600x486.jpg);">


            <span class="category">Russian</span>


            <div class="card-content">
                <div class="author">
                    <img src="~/assets/images/4cu user.jpeg" alt="">
                    <span>

                    </span>
                </div>

                <h3>

                    Managerial Economics & Business Analysis






                </h3>

                <div class="card-footer">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i>
                        <span>
                            2
                        </span>
                    </div>
                    <span class="price">$400</span>
                </div>
            </div>
        </div>




        <a href="#" class="view-btn">View Courses</a>


    </div>


</section>