@using Academy.ViewModels.Banner

@model IEnumerable<BannerVM>

@{
    var banner = Model.FirstOrDefault(b => b.Page == "Contact");
}

@if (banner != null)
{
    <section id="contact-main">
        <div class="contact-container">

            <div class="top-line"></div>
            <div class="containt-img">
              
                <img src="@Url.Content("~/uploads/banner/" + banner.Image)" alt="@banner.Title">

                <div class="contact-content">
                    <h3>@banner.Title</h3>
                    <a asp-controller="Home" asp-action="Index">Home > @banner.Page</a>
                </div>

            </div>
        </div>
    </section>
}