<section id="instructor">
    <div class="common-instructors">
        <div class="top-side">
            <div class="instructor-content">
                <span>Best Of The Best</span>
                <h1>Top Online Instructors</h1>
                <p>Explore learning tips, career advice. Unlock new opportunities with unlimited access.</p>
            </div>
            <a href="teachers.html">Join The Team</a>

        </div>

        <div class="teacher-card">
            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>


            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>



            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>


            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>



            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>


            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>



            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>

            <div class="teacher-single">
                <div class="img">
                    <img src="./assets/images/david-leto-380x422.jpg" alt="">
                </div>
                <div class="content">
                    <div class="for-icon">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="for-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="for-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>
                <h4>Intizar Shadmanli</h4>
                <span>Photographer</span>
            </div>





        </div>
    </div>
</section>