<section id="about-pulse">
    <div class="common-section">

        <div class="button-for">
            <div class="text-part">
                <span>DISCOVER NEW</span>
                <h1>Pulse of iGuru</h1>
                <p>Explore learning tips, career advice. Unlock new opportunities with unlimited access.</p>
            </div>
            <a href="about.html">View All</a>
        </div>

        <div class="card-section">


            <div class="card-single">
                <div class="card-inner">

                    <div class="card-front">
                        <img src="~/assets/images/flip-boxes_01.jpg" alt="">
                        <div class="overlay">
                            <h2>Smart News</h2>
                        </div>
                    </div>

                    <div class="card-back">
                        <h3>Smart News</h3>
                        <p>Discover smart learning strategies and career insights with iGuru.</p>

                    </div>

                </div>
            </div>


            <div class="card-single">
                <div class="card-inner">

                    <div class="card-front">
                        <img src="~/assets/images/flip-boxes_01.jpg" alt="">
                        <div class="overlay">
                            <h2>Career Tips</h2>
                        </div>
                    </div>

                    <div class="card-back">
                        <h3>Career Tips</h3>
                        <p>Get professional advice and unlock new opportunities in your field.</p>

                    </div>

                </div>
            </div>


            <div class="card-single">
                <div class="card-inner">

                    <div class="card-front">
                        <img src="~/assets/images/flip-boxes_01.jpg" alt="">
                        <div class="overlay">
                            <h2>Learning Hacks</h2>
                        </div>
                    </div>

                    <div class="card-back">
                        <h3>Learning Hacks</h3>
                        <p>Boost your productivity and master new skills faster than ever.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>