@model IEnumerable<Academy.ViewModels.Topic.TopicVM>

@{
    var mainTopic = Model.FirstOrDefault();
}

<section id="about-pulse">
    <div class="common-section">

       
        <div class="button-for">
            <div class="text-part">
                <span>DISCOVER NEW</span>

                <h1>@mainTopic?.Title</h1>
                <p>@mainTopic?.SubTitle</p>

            </div>
            <a href="#">View All</a>
        </div>

  
        <div class="card-section">

            @foreach (var topic in Model)
            {
                @foreach (var article in topic.Articles)
                {
                    <div class="card-single">
                        <div class="card-inner">

                     
                            <div class="card-front">
                                <img src="/uploads/article/@article.Image" alt="">
                                <div class="overlay">
                                    <h2>@topic.Title</h2>
                                </div>
                            </div>

                        
                            <div class="card-back">
                                <h3>@topic.Title</h3>
                                <p>@article.Description</p>
                            </div>

                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>