<section id="benefit-section">
    <div class="benefit-container">

    
        <div class="left-benefit">
            <span class="one">Our Benefits</span>
            <h1>Why iGuru?</h1>

            <div class="benefit-column">

                <div class="item">
                    <i class="fa-solid fa-check"></i>
                    <div class="text" style="margin:-40px;margin-left:40px;">
                        <span class="two">Earn Money</span>
                        <p>
                            Whether you want to develop as a professional or
                            <span class="break">discover a new hobby,</span>
                            there’s an online course for that.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <i class="fa-solid fa-check"></i>
                    <div class="text">
                        <span class="two">Earn Money</span>
                        <p>
                            Whether you want to develop as a professional or
                            <span class="break"> discover a new hobby,</span>
                            there’s an online course for that.
                        </p>
                    </div>
                </div>

            </div>
        </div>

       
        <div class="right-benefit">
            <img src="./assets/images/bacome-a-teacher_02.png" alt="">
        </div>

    </div>
</section>

<style>
    .right-benefit img{
        margin-left:900px;
    }

    .break {
        display: block;
    }
</style>