<section id="benefit-section">
    <div class="benefit-conatiner">
        <div class="left-benefit">
            <span class="one">Our Benefits</span>
            <h1>Why iGuru?</h1>
            <div class="benefit-column">
                <div class="first">
                    <i class="fa-solid fa-check"></i>
                    <span class="two">Earn Money</span>
                    <p>Whether you want to develop as a professional or <br> discover a new hobby, there’s an online course for that.</p>
                </div>
                <div class="second">
                    <i class="fa-solid fa-check"></i>
                    <span class="two">Earn Money</span>
                    <p>Whether you want to develop as a professional or <br> discover a new hobby, there’s an online course for that.</p>
                </div>
            </div>
        </div>
        <div class="right-benefit">
            <img src="./assets/images/bacome-a-teacher_02.png" alt="">
        </div>
    </div>
</section>